<div class="post-list">
    <% page.posts.each(function (post) { %>
        <div class="post-item">
            <h3 class="post-title"><a href="<%- url_for(post.path) %>"><%= post.title || "<未标题>" %></a></h3>
            <div class="post-summary">
                <p>
                    <% if (post.summary) { %>
                        <%- post.summary %>
                    <%
                    } else {
                        let summary = strip_html(post.content).split('\n')[0];
                        let showMore = summary.length > 240;
                    %>
                    <%- summary.substring(0, 240); %>
                    <% if (showMore) { %>
                        <a class="read-more" href="<%- url_for(post.path) %>"> ...</a>
                    <% } %>
                    <% } %>
                </p>
            </div>

            <%- partial('_partial/post-meta', {post: post, isNotPost: false, hideVisit: false}) %>
        </div>
    <% }) %>
</div>

<%- partial('_partial/paginator') %>