<div class="sidebar">
    <div class="author-info">
        <img src="<%- url_for(theme.logo) %>" class="logo"
             style="width: 127px; margin-bottom: 1em;filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.3)); border-radius: 50%;">
        <h3><a href="/"><%= theme.author %></a></h3>
        <div class="description"><p><%= theme.description %></p></div>
        <ul class="social-links">
            <% for (name in theme.contacts) { %>
                <li>
                    <a target="_blank" rel="noopener" href="<%= theme.contacts[name].url %>"><i
                                class="<%= theme.contacts[name].icon %>"></i></a>
                </li>
            <% } %>
        </ul>
    </div>
    <% if (is_post()) { %>
        <%- partial('bookmark') %>
    <% } %>
</div>