<div class="sidebar">
    <div class="author-info">
        <img src="<%- url_for(theme.logo) %>" class="logo">
        <h3><a href="/"><%= theme.author %></a></h3>
        <div class="description"><p><%= theme.description %></p></div>
        <ul class="social-links">
            <% for (name in theme.contacts) { %>
                <li>
                    <a target="_blank" rel="noopener" href="<%= theme.contacts[name].url %>"><i
                                class="<%= theme.contacts[name].icon %>"></i></a>
                </li>
            <% } %>
        </ul>
    </div>
    <div class="toc-container">
        <% if (is_post()) { %>
            <%- partial('bookmark') %>
        <% } %>
    </div>
</div>
