<%
let key = post.uuid;
%>
<i class="fa-solid fa-fire"></i>
<span id="visit-counter-<%= key %>">Loading...</span>
<%- js('js/plugins/visit-counter.js') %>
<script>
    window.addEventListener("load", (event) => {
        loadVisitCounter('<%= key %>', '<%= theme.visitCounter.endpoint %>', '<%= theme.visitCounter.accessToken %>', <%= (is_page() || is_post()) %>);
    });
</script>